.Ferrari{
    width: 100%;
    height: 90vh;
    
}
.container{
    display: flex; 
     position: relative; 
}
.textHourly{
    position: absolute;
    margin-top: 10%;
    margin-left: 20px;
}
.textHourly h1{
    color: #b28f03;
    margin-top: 4%;
    filter: brightness(1.5);
    color:'white';
    font-Size:75px;
    font-Weight:bold;
}
.textHourly h2{
    font-size: 75px;
    color:whitesmoke;
    font-Size:'75px';
   margin-top: -4%;

}

.textHourly p{
    font-size: 22px;
}
.buttonH{
    background-color:transparent; 
    color: #ffd223; 
    padding: 10px 40px; 
    cursor: pointer;
    font-size: 24px;
    position: absolute;
    border-color: #ffd223; 
}